@charset "UTF-8";
/* line 5, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/test.scss */
body {
  background-color: white;
  font-family: "Noto Serif CJK SC", "Source Han Serif SC", "‘Source Han Serif’", "source-han-serif-sc", "宋体", serif;
  font-weight: bold;
  width: 100%;
  color: #4e4e4e;
}
/* line 11, ../sass/test.scss */
body header {
  border-bottom: 1px solid #dddddd;
  margin: 0 auto;
  max-width: 1030px;
  width: 100%;
  padding-top: 60px;
  position: relative;
}
/* line 18, ../sass/test.scss */
body header .site-name {
  width: 100%;
  margin-bottom: 20px;
}
/* line 21, ../sass/test.scss */
body header .site-name .hidden {
  display: none;
}
/* line 24, ../sass/test.scss */
body header .site-name #logo {
  color: #555555;
  font-size: 40px;
  text-decoration: none;
}
/* line 29, ../sass/test.scss */
body header .site-name .description {
  margin-top: 2px;
  font-size: 25px;
  color: #999999;
}
/* line 35, ../sass/test.scss */
body header nav {
  margin-bottom: -1px;
  text-align: right;
}
/* line 38, ../sass/test.scss */
body header nav .current {
  border: 1px solid #dddddd;
  border-bottom: 1px solid white;
  border-radius: 3px;
}
/* line 42, ../sass/test.scss */
body header nav .current:hover {
  border-bottom: 1px solid white;
}
/* line 46, ../sass/test.scss */
body header nav a {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  padding: 3px 20px 3px;
  border: 1px solid transparent;
}
/* line 54, ../sass/test.scss */
body header nav a:hover {
  border-bottom: 1px solid black;
}
/* line 60, ../sass/test.scss */
body .container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1030px;
}
/* line 65, ../sass/test.scss */
body .container .left {
  flex: 4;
  padding-top: 20px;
  padding-right: 30px;
  letter-spacing: 2px;
  line-height: 20px;
}
/* line 72, ../sass/test.scss */
body .container .left .content .post {
  padding-top: 20px;
}
/* line 75, ../sass/test.scss */
body .container .left .content .post h3 {
  font-size: 20px;
}
/* line 78, ../sass/test.scss */
body .container .left .content .post p {
  padding: 10px 0;
}
/* line 81, ../sass/test.scss */
body .container .left .content .post a {
  padding: 5px 5px;
  text-decoration: none;
  color: #555555;
  border: 1px solid #555555;
  border-radius: 4px;
}
/* line 91, ../sass/test.scss */
body .container .right {
  flex: 1;
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid #dddddd;
}
/* line 99, ../sass/test.scss */
body footer {
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1030px;
}
