@import "compass/reset";
@font-face {
  font-family: 'icomoon';
  src:  url('../icon/fonts/icomoon.eot?cnmaim');
  src:  url('../icon/fonts/icomoon.eot?cnmaim#iefix') format('embedded-opentype'),
    url('../icon/fonts/icomoon.ttf?cnmaim') format('truetype'),
    url('../icon/fonts/icomoon.woff?cnmaim') format('woff'),
    url('../icon/fonts/icomoon.svg?cnmaim#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar2:before {
  content: "\e903";
  padding-right: 5px;
}
.icon-external-link:before {
  content: "\e902";
  padding-right: 5px;
}
.icon-folder:before {
  content: "\e901";
  padding-right: 5px;
}
.icon-search:before {
  content: "\e986";
}
.icon-star-empty:before {
  content: "\e9d7";
  padding-right: 5px;
}
.icon-file-empty:before {
  content: "\e924";
  padding-right: 5px;
}

$width: 1030px;

body{
	background-color: rgba(255, 255, 255, 1.00);	
	font-family: "Noto Serif CJK SC", "Source Han Serif SC", "‘Source Han Serif’", "source-han-serif-sc", "宋体", serif;
	font-weight: bold;
	width: 100%;
	color: rgba(78, 78, 78, 1.00);
	header{
		border-bottom: 1px solid rgba(221, 221, 221, 1.00);
		margin: 0 auto;
		max-width: $width;		
		width:100%;
		padding-top: 60px;
		position: relative;
		.site-name{
			width: 100%;
			margin-bottom:20px;
			.hidden{
				display: none;
			}
			#logo{
				color: rgba(85, 85, 85, 1.00);
				font-size: 40px;
				text-decoration: none;
			}
			.description{
				margin-top: 2px;
				font-size: 25px;
				color: rgba(153, 153, 153, 1.00);
			}
		}
		nav{
			margin-bottom: -1px;						
			text-align: right;
			.current{
				border: 1px solid rgba(221, 221, 221, 1.00);
				border-bottom: 1px solid rgba(255, 255, 255, 1.00);
				border-radius: 3px;
				&:hover{
					border-bottom: 1px solid rgba(255, 255, 255, 1.00);
				}
			}
			a{
				display:inline-block;
				font-size: 16px;
				line-height: 30px;
				text-decoration: none;
				padding: 3px 20px 3px;
				border: 1px solid transparent;
			}
			a:hover{
				border-bottom: 1px solid black;
			}
		}
	}

	.container{
		display: flex;
		margin: 0 auto;
		width: 100%;
		max-width: $width;
		.left{
			flex: 4;
			padding-top: 20px;
			padding-right: 30px;
			letter-spacing: 2px;
			line-height: 20px;
			.content{
				.post{
					
					padding-top: 20px;
					h3{
						font-size: 20px;
					}
					p{
						padding: 10px 0;
					}
					a{
						padding: 5px 5px;
						text-decoration: none;
						color: rgba(85, 85, 85, 1.00);
						border: 1px solid rgba(85, 85, 85, 1.00);
						border-radius: 4px;
					}
				}
			}
		}
		.right{
			flex: 1;
			margin-top: 30px;
			padding-left: 20px;
			position: relative;
			border-left: 1px solid rgba(221, 221, 221, 1.00);
			.sidebar{
				.search{
					margin-bottom: 30px ;
					input{
						text-indent: 20px;
						padding: 5px 10px;
						border-radius: 5px;
						border: 1px solid rgba(187, 187, 187, 1.00);
					}
					.icon-search{
						position: absolute;
						top: 5px;
						left: 25px;
					}
				}
				.sort{
					margin-bottom: 30px;
					.title{
						padding-bottom: 10px;
						border-bottom: 1px solid rgba(187, 187, 187, 1.00);
					}
					ul li{
						padding-top: 20px;
					}
				}
				.label{
					margin-bottom: 30px;
					.title{
						padding-bottom: 10px;
						border-bottom: 1px solid rgba(187, 187, 187, 1.00);
					}
					a{
						display: inline-block;
						text-decoration: none;
					}
				}
				.recent{
					margin-bottom: 30px;
					.title{
						padding-bottom: 10px;
						border-bottom: 1px solid rgba(187, 187, 187, 1.00);
					}
					ul li {
						padding-top: 10px;
						a{
							text-decoration: none;
						}
					}
				}
				.link{
					margin-bottom: 30px;
					.title{
						padding-bottom: 10px;
						border-bottom: 1px solid rgba(187, 187, 187, 1.00);
					}
					ul li {
						padding-top: 10px;
						a{
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	footer{
		margin: 0 auto;
		margin-top: 20px;
		padding: 20px;
		width: 100%;
		max-width: $width;
	}
}
