@import "compass/reset";

$width: 1030px;

body{
	background-color: rgba(255, 255, 255, 1.00);	
	font-family: "Noto Serif CJK SC", "Source Han Serif SC", "‘Source Han Serif’", "source-han-serif-sc", "宋体", serif;
	font-weight: bold;
	width: 100%;
	color: rgba(78, 78, 78, 1.00);
	header{
		border-bottom: 1px solid rgba(221, 221, 221, 1.00);
		margin: 0 auto;
		max-width: $width;		
		width:100%;
		padding-top: 60px;
		position: relative;
		.site-name{
			width: 100%;
			margin-bottom:20px;
			.hidden{
				display: none;
			}
			#logo{
				color: rgba(85, 85, 85, 1.00);
				font-size: 40px;
				text-decoration: none;
			}
			.description{
				margin-top: 2px;
				font-size: 25px;
				color: rgba(153, 153, 153, 1.00);
			}
		}
		nav{
			margin-bottom: -1px;						
			text-align: right;
			.current{
				border: 1px solid rgba(221, 221, 221, 1.00);
				border-bottom: 1px solid rgba(255, 255, 255, 1.00);
				border-radius: 3px;
				&:hover{
					border-bottom: 1px solid rgba(255, 255, 255, 1.00);
				}
			}
			a{
				display:inline-block;
				font-size: 16px;
				line-height: 30px;
				text-decoration: none;
				padding: 3px 20px 3px;
				border: 1px solid transparent;
			}
			a:hover{
				border-bottom: 1px solid black;
			}
		}
	}

	.container{
		display: flex;
		margin: 0 auto;
		width: 100%;
		max-width: $width;
		.left{
			flex: 4;
			padding-top: 20px;
			padding-right: 30px;
			letter-spacing: 2px;
			line-height: 20px;
			.content{
				.post{
					
					padding-top: 20px;
					h3{
						font-size: 20px;
					}
					p{
						padding: 10px 0;
					}
					a{
						padding: 5px 5px;
						text-decoration: none;
						color: rgba(85, 85, 85, 1.00);
						border: 1px solid rgba(85, 85, 85, 1.00);
						border-radius: 4px;
					}
				}
			}
		}
		.right{
			flex: 1;
			margin-top: 30px;
			padding-left: 20px;
			border-left: 1px solid rgba(221, 221, 221, 1.00);
		}
	}

	footer{
		margin: 0 auto;
		margin-top: 20px;
		padding: 20px;
		width: 100%;
		max-width: $width;
	}
}
